html, body, #root {
  height: 100%;
}

body {
    background-color: #1d0022;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
  }

.centredTable {
    margin: auto;
}

a {
  color: rgb(198, 118, 206);
}

.selfie {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}