/* GLOBAL STYLES */
.container-flex {
    text-align: centre;
    margin-left: 6em;
  }

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(198, 118, 206); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0, 50%; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
        typing 3s steps(30, end),           /* speed at which the text is typed*/
        blink-caret .5s step-end infinite;
    animation-iteration-count: infinite;    /* loop the animation inifintely*/
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 19.9em }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(198, 118, 206) }
}

